/* Typography */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --color-primary: #131a22;
  --colour-secondary: #232f3e;
  --colour-accent: #26313e;
  --color-heading: #0f1111;
  --color-body: #3e3e3e;
  --color-body-link: #007185;
  --border-radius: 0.25rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Navigation Bar */
.nav_bar {
  display: flex;
  height: 6rem;
  width: 100%;
  background-color: var(--color-primary);
}

/* Left Section */

.nav_bar_left {
  display: flex;
  align-items: flex-start;
  height: 6rem;
  width: 21.664rem;
}

/* Logo */

.nav_bar_logo {
  width: 11.3rem;
  height: 5rem;
  padding-top: 0.3rem;
}

/* Delivery Location */

.nav_bar_delivery_location {
  width: 19.3rem;
  height: 4rem;
  padding-left: 2rem;
  margin-top: 1.5rem;
  margin-left: 0.2rem;
}

.current_address {
  color: #cccccc;
  display: flex;
  font-size: 1.15rem;
  letter-spacing: 0.4px;
  line-height: 10px;
  margin-left: 1.9rem;
  margin-top: 0.2rem;
}

.locater {
  display: flex;
  color: #ffffff;
  display: flex;
  align-items: stretch;
}

.location_dot {
  width: 1.5rem;
  height: 1.8rem;
  margin-left: 0.1rem;
  margin-top: -0.1rem;
  margin-right: 0.2rem;
}

.update {
  font-size: 1.4rem;
  margin-top: 0.1rem;
  margin-left: 0.1rem;
  font-weight: bold;
}

/* Middle Section */

.nav_bar_middle {
  width: 82.25rem;
  height: 6rem;
  display: flex;
}

/* Search Panel */

.search_box {
  width: 81.25rem;
  height: 4rem;
  margin: 0 1rem;
  padding: 1rem 0.4rem 1rem 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Drop Down Box */

.nav_bar_drop_down {
  height: 4.2rem;
  width: 5.2rem;
}

.nav_bar_drop_down_box {
  height: 4.2rem;
  width: 5.2rem;
  background-color: #e6e6e6;
  margin-right: -0.1rem;
  border-radius: 0.5rem 0 0 0.5rem;
  font-size: 1.2rem;
  text-align: center;
}

/* Input Box */

.search_panel {
  width: 69.85rem;
  height: 4.2rem;
}

#input_box {
  width: 100%;
  height: 100%;
  padding: 0.7rem 1rem 1rem 0;
  margin-left: -0.1rem;
  margin-right: -0.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.5px;
}

/* Search Logo */

.search_logo {
  width: 4.5rem;
  height: 4rem;
  margin-left: -0.2rem;
  background-color: rgb(250, 189, 105);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0.5rem 0.5rem 0;
}

.search_logo_svg {
  width: 55%;
  height: 55%;
}
